<% if carrinho_item == @current_item %>
  <tr id="current_item">
<% else %>
  <tr>
<% end %>

  <td><%= carrinho_item.quantidade %>&times;</td>
  <td><%=h carrinho_item.titulo %></td>
  <td class="item-price"><%= number_to_currency(carrinho_item.preco) %></td>
</tr>
